.container{
    margin-top: 20px;
   
    max-width:600px;
    border: 2px solid #dadee1;
    border-radius: 18px;
    padding: 15px;

}
.wrapper{
    margin-left: 50px;
    height: 100%;    
    max-width:600px;

}

li{
    color: #70757a;
    font-size: 16px;
    line-height: 20px;
    list-style-type: none;
}
h1{
    margin: 0;
}

ul{
    margin:0;
    padding: 0;
}
small{
    margin-top: -50px;
    font-size: 16px;
}
.temp{
    font-size: 30px;

}

.aside-left strong{
 
    font-size: 38px;
   
}

#weather-description{
    text-transform: capitalize;
}


.aside-left{
    margin-right: 200px; 
    line-height: 40px;
   
}

.aside-right{
    margin-left: 300px;
    margin-top: -80px;
    margin-bottom: 30px;


}
