.container{
    margin-top: 20px;
    max-width:600px;
    border: 2px solid #dadee1;
    border-radius: 18px;
    padding: 15px;
}

li{
    color: #70757a;
    font-size: 16px;
    line-height: 20px;
    list-style-type: none;
}
h1{
    margin: 0;
}

ul{
    margin:0;
    padding: 0;
}

.aside-left h5{
    margin-left: 80px;
    margin-top: -50px;
   
    


}

.aside-right{
    margin-left: 300px;
    margin-top: -80px;



}
#open-sourced-by{
    margin-right: 300px;
    text-align: center;

}